pydantic==2.5.1
pydantic_core==2.14.3
sentencepiece==0.1.99
streamlit==1.28.1
tokenizers==0.14.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.3.3
transformers==4.34.1
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
uvicorn==0.24.0.post1
validators==0.22.0
